.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 60px;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    justify-content: space-between;
}

.Header > div {
    
}

.header-links {
    justify-content: space-evenly;
}

.header-user-info {
    width: 100%;
    position: relative;
    max-height: 36px;
}

.header-user-info > div {
    height: 45px;
    background-color: #f0f0f0;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0;
}

.header-user-info > div > div{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.header-user-info span {
    width: 100px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.header-user-info img {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    padding: 0;
}

.register-btn, .log-out-btn{
    white-space: nowrap ;
    margin-left: 10px;
}

@media (max-width: 768px) { 
    .header-user-info {
        margin-right: 250px;
    }
 }